<h3>댓글</h3>
<form method="post" action="/comment/create-process">
    <textarea name="description" ></textarea>
    <input type="hidden" name="postId" value="<%= postId %>">
    <input type="submit" value="제출">
</form>
<div id="commentList"></div>
<script>
    const deleteComment = (commentId)=>{
        fetch('/comment/delete-comment',{
            method:'delete',
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({'commentId':commentId})}).then(res=>res.json()).then(success=>{
            if(success){
                const comment = document.getElementById(`comment-${commentId}`);
                comment.remove()
            }
        })
    }

    fetch('/api/comments/<%= postId %>').then(res=>res.json()).then(comments=>{
        const commentList = document.getElementById('commentList')
        const userId = "<%= userId %>";
        let list = '<ul>'
        for(let i=0;i<comments.length;i++){
            let comment = comments[i]
            list +=`<li id='comment-${comment.id}'>`
            list += comment.description;
            if(comment.author_id===null||comment.author_id===userId){
                list += `&emsp;<button onclick="deleteComment(${comment.id})">삭제</button></li>`
            }

        }
        list +='</ul>'
        commentList.innerHTML=list;
    })
</script>
    