<form method="post" action="/post/update-process">
    <h2><input type="text" name="title"  value="<%-title %>" ></h2>
    <textarea name="description" ><%-description %></textarea>
    <input type="hidden" name="postId" value="<%= postId %>">
    <input type="submit" value="제출">
</form>

