<body>
    <form action="/auth/login-process" method="post">
        <input type="text" name="id" placeholder="id"><br>
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="로그인">
    </form>
</body>
